# -*- mode: conf -*-

[push]
    default = current
[alias]
    ci = commit --verbose
    co = checkout
    b = branch -vv
    l = log --graph --pretty=format:'%w(100,0,10)%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -20
    ll = !sh -c \"git l --all $@\"
    d = diff
    dd = diff --cached
    s = status
    a = commit --amend
    ri = rebase -i --autosquash
    rc = rebase --cont
    rz = !sh -c 'git reset --soft HEAD^ && git reset HEAD .'
    fixup = commit --fixup
    up = !sh -c 'git co -b tmp && git fetch -v origin master:master && git remote -v prune origin && git co - && git branch -d tmp'
    rao = !sh -c \"git remote add origin $@\"
    rso = !sh -c \"git remote set-url origin $@\"
    rv = remote -v
[core]
    pager = less -FRX
    editor = emacs --no-desktop
    abbrev = 4
    excludesfile = ~/.gitignore_global
[rerere]
    enabled = true
[credential]
    helper = osxkeychain
[user]
    name = Hao Lian
    email = hi@haolian.org
[include]
    path = ~/.gitconfig.local

[url "https://github.com/"]
  insteadOf = "g:"
[url "git@github.com:hlian"]
  insteadOf = "f:"
