---
layout: default
---

<p>
  <img src="{{ "/static/whisk.png" | prepend: site.baseurl}}" height="32px" width="32px" alt="whisk">
</p>

<h1>{{ site.title }}</h1>

<p>
  by
  {% for author in site.data.people %}
  <a href="{{ site.baseurl }}/people/{{ author[0] }}">{{ author[1].name }}</a>
  {% endfor %}
</p>

<h2>Posts</h2>
<ul>
{% for post in site.posts %}
  {% unless post.title contains 'poopmonster' %}
  <li>
    <p><span>{{ post.date | date: "%b %-d, %Y" }}</span></p>

    <p>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </p>
  </li>
  {% endunless %}
{% endfor %}
</ul>


<h2>RSS</h2>
<p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Feed here.</a></p>

