body {
  padding: 1rem 20px;
  max-width: 70ex;
  margin-left: 2.5%;
  margin-top: 2.5%;
  background: white;
}

p, ul, ol, pre {
  margin: 1rem 0;
}

li > p {
  margin: 0.75rem 0;
}

ul, ol {
  margin-left: 1em;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

li {
  margin: 0.5em 0;
}

pre {
  padding: 0 2%;
  margin-left: -2%;

}

div.footnotes {
  margin-top: 3em;
  font-size: 0.8em;
}

div.footnotes hr {
  max-width: 100px;
  margin: 0;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333;
}
