* {
  box-sizing: content-box;
}

html {
  font-family: -apple-system, helvetica, arial, sans-serif;
  font-size: 13pt;
  background: #b1e4e3;
  text-rendering: optimizeLegibility;
}

body {
  line-height: 15pt;
}

pre, code {
  font-family: "Fantasque Sans Mono", "Menlo", "Consolas", monospace;
  font-size: 12pt;
}

@media (max-width: 667px) {
  html, pre {
    /* Justification: your face is closer to the device? */
    font-size: 10pt;
  }

  pre, code {
    font-size: 8pt;
    word-wrap: break-word;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 801px) {
  html, pre {
    /* Justification: your face is closer to the device? */
    font-size: 11pt;
  }

  pre, code {
    font-size: 10pt;
    word-wrap: break-word;
  }

  .sidebar {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.post-content h2 {
  border-bottom: 1px dashed black;
  padding-bottom: 5px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a[rel="footnote"] {
  vertical-align: super;
  font-size: 0.9rem;
  line-height: 1;
  background: none;
  text-shadow: none;
  display: inline-block;
  position: relative;
  top: 0.1rem;
  text-decoration: none;
  padding-right: 3px;
}

a[rel="footnote"]:hover:before {
  content: '[';
}

a[rel="footnote"]:hover:after {
  content: ']';
}

a[rev="footnote"] {
  font-size: 0.6em;
  margin-left: 3px;
}

code {
  background-color: #fef3e0;
}

pre {
  border-left: 2px solid #b1e4e3;
}

pre code {
  background: none;
  border-bottom: 0;
}

code {
  padding: 2px 5px;
}

pre code {
  padding: 0;
}

div.footnotes {
  font-size: 0.8em;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

hr.page-break {
  text-align: center;
  border: 0;
}

hr.page-break:after {
  content: "^L";
  color: #999;
  display: block;
  font-size: 0.8em;
  margin: 2em 0;
}

sup {
  vertical-align: top;
  font-size: 0.8rem;
  position: relative;
  top: -0.1em;
  margin-top: -100px;
  margin-left: 1px;
}

blockquote {
  border-left: 2px solid darkred;
  border-right: 2px solid darkred;
  padding-left: 10px;
  padding-right: 10px;
}

blockquote cite::before {
  content: "~~~";
}

.post-meta {
}
