* {
  box-sizing: content-box;
}

html {
  font-family: helvetica, arial, serif;
  font-size: 16pt;
  background: #fcfbfc;
}

body {
  line-height: 1.35;
}

pre, code {
  font-family: "Ubuntu Mono", "Menlo", "Consolas", monospace;
}

pre, code {
  font-size: 16pt;
}

@media (max-device-width: 800px) {
  body, pre {
    /* Justification: your face is closer to the device? */
    font-size: 10pt;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a[rel="footnote"] {
  vertical-align: super;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top: 3px;
  text-decoration: none;
  background: lightblue;
  padding: 0 2px;
  color: black;
}

a[rel="footnote"]:hover {
  background: cyan;
}

a[rev="footnote"] {
  font-size: 0.6em;
  margin-left: 3px;
}

code {
  background: cyan;
}

pre code {
  background: none;
}

code {
  padding: 2px 5px;
}

pre code {
  padding: 0;
}

div.footnotes {
  font-size: 0.8em;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

hr.page-break {
  text-align: center;
  border: 0;
}

hr.page-break:after {
  content: "^L";
  color: #999;
  display: block;
  font-size: 0.8em;
  margin: 2em 0;
}

sup {
  vertical-align: top;
  font-size: 0.8rem;
  position: relative;
  top: -0.1em;
  margin-top: -100px;
  margin-left: 1px;
}

blockquote {
  border-left: 2px solid darkred;
  border-right: 2px solid darkred;
  padding-left: 10px;
  padding-right: 10px;
}

blockquote cite::before {
  content: "~~~";
}
