---
layout: default
---
{% assign author = site.data.people[page.author] %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ author.name }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
    <h2>Posts</h2>
    <ul>
    {% for post in site.posts %}
      {% if post.author == page.author %}
        <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </article>
</div>

<hr class="page-break">

<p>
  Hey. Check out the rest of <em><a href="{{ "/" | prepend: site.baseurl }}">{{ site.title }}</a></em>.
</p>

