<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      <aside class="sidebar">
        <p><em>Spoke Proof</em> is a diary with a soothing blue background. See also:</p>
        <p>
        <a href="https://barnacles.blackfriday">Barnacles</a>
        // <a href="https://basilica.horse">Basilica</a>
        // <a href="https://feelings.blackfriday">feelings.blackfriday</a>
        // <a href="https://sky-carver.hyperdev.space">Frog Feels</a>
        // <a href="https://ianthehenry.com">The Life and Opinions of Ian Henry, Gentleman</a>
        // <a href="https://sigur-ros.co.uk/band/faq.php">sigur rós – frequently asked questions</a>
        // <a href="http://kernelfuffle.org">Kernelfuffle</a>
        </p>
      </aside>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </body>
</html>
