<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      <aside class="sidebar">
        <p><em>Spoke Proof</em> is a diary with a soothing blue background. See also:</p>
        <p>
        <a href="https://barnacles.blackfriday">Barnacles</a>
        // <a href="https://basilica.horse">Basilica</a>
        // <a href="https://feelings.blackfriday">feelings.blackfriday</a>
        // <a href="https://sky-carver.hyperdev.space">Frog Feels</a>
        // <a href="https://ianthehenry.com">The Life and Opinions of Ian Henry, Gentleman</a>
        // <a href="https://sigur-ros.co.uk/band/faq.php">sigur rós – frequently asked questions</a>
        // <a href="http://kernelfuffle.org">Kernelfuffle</a>
        // <a href="https://www.youtube.com/watch?v=00hf2TbesBY">video #00hf2TbesBY</a>
        </p>
        <p style="opacity: 0.3"><em>Ale-colored sunshine and pale sky and whorls of cirrus so high they cast no shadow. Insects all business all the time. Quartz and chert and schist and chondrite iron scabs in granite. Very old land. Look around you. The horizon trembling, shapeless. We are all of us brothers.</em></p>
      </aside>
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </body>
</html>
